body {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Black', sans-serif;
}

/* Title Section */
#title {
  background-color: #70ADB5;
  color: white;
  text-align: left;
}

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 10%;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light', sans-serif;
}

/* images */
.title-img {
  width: 500px;
  padding: 0% 0% 0% 100px;

}

/* Features */
#features {
  padding: 5% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  padding: 80px 0;
}

.feat {
  font-size: 1.5rem;
}

.fa-p {
  color: #8f8f8f;
  width: 70%;
  margin: auto;
}

.fa-img {
  color: #132743;
  margin-bottom: 1rem;
}

.fa-img:hover {
  color: #70adb5;
}

/* Testimonials */
#testimonials {
  background-color: #70adb5;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Login */
#login {
  background-color: #fff;
  text-align: center;
  padding: 10% 10%;
  color: #132743;
}

.form-login{
  text-align: center;
}

.h3-foot {
  font-family: 'Montserrat-Black';
  font-size: 2.5rem;
  line-height: 1.5;
}

/* Footer */
#footer {
  text-align: center;
  padding: 7% 15% 3%;
  background-color: #fff;
}

.foot {
  margin: 1%;
}

.p-foot {
  color: grey;
}
