body {
	text-align: center;
	}

			h1, h2, h3, h4, h5, h6 {
			  font-family: 'Montserrat-Black', sans-serif;
			}

			/* navigation bar */

			.container-fluid {
			  padding:40px;
			}

			.navbar-brand {
			  font-family: "Ubuntu", sans-serif;
			  font-weight: bold;
			  font-size: 2rem;
			}

			.nav-item {
			  padding: 0 5px;
			  margin:0.5rem;
			}

			.nav-link {
			  font-size: 1.2rem;
			  font-family: 'Montserrat-light', sans-serif;
			}

			#signup {
				background-color: white;
				color: #70ADB5;
				font-weight: bold;
			}

			#donate{
				/*background-color: #C70039;*/
				color: white;
				font-weight: bold;
				padding:0.5rem 1rem;
			}
			nav{
				margin-bottom: 0px;
			}

			/*toggle button*/
			/* The switch - the box around the slider */
			.switch {
			  position: relative;
			  display: inline-block;
			  width: 60px;
			  height: 34px;
			}

			/* Hide default HTML checkbox */
			.switch input {
			  opacity: 0;
			  width: 0;
			  height: 0;
			}

			/* The slider */
			.slider {
			  position: absolute;
			  cursor: pointer;
			  top: 0;
			  left: 0;
			  right: 0;
			  bottom: 0;
			  background-color: #ccc;
			  -webkit-transition: .4s;
			  transition: .4s;
			}

			.slider:before {
			  position: absolute;
			  content: "";
			  height: 26px;
			  width: 26px;
			  left: 4px;
			  bottom: 4px;
			  background-color: white;
			  -webkit-transition: .4s;
			  transition: .4s;
			}

			input:checked + .slider {
			  background-color: #70ADB5;
			}

			input:focus + .slider {
			  box-shadow: 0 0 1px #70ADB5;
			}

			input:checked + .slider:before {
			  -webkit-transform: translateX(26px);
			  -ms-transform: translateX(26px);
			  transform: translateX(26px);
			}

			/* Rounded sliders */
			.slider.round {
			  border-radius: 34px;
			}

			.slider.round:before {
			  border-radius: 50%;
			}

			.dark-light{
      		background-color: black;
      		color: white;
      		}

			/* Title Section */
			.title {
				background-color: #70ADB5;
				color: white;
 				text-align: left;
			}
			section div div{
				padding-left: 20px;
			}

			.big-heading {
			  font-family: 'Montserrat', sans-serif;
			  font-size: 3rem;
			  line-height: 1.5;
			}

			/* images */
			.title-img {
			  width: 500px;
			  height: 300px;
			  padding: 0 0 50px 50px;
			}

			/*Events*/
			.card{
				width: 18em;
				margin: 20px;
				border-color:#70adb5; 
			}

			.card-img-top{
				height: 12em;
			}
			.img-wrapper {
			    display: inline-block; /* change the default display type to inline-block */
			    overflow: hidden;      /* hide the overflow */
			}
			.img-zoom{
				transform: scale(1.1);
				transition: all .3s ease;
    			vertical-align: middle;
			}
			.card-footer{
				background-color: #70ADB5;
				font-weight: bold;
				font-family: 'Ubuntu';
			}

			.fa-heart{
				color: red;
			}
			.fa-calendar-alt{
				color: #70ADB5;
			}
			.fa-map-marker-alt{
				color: white;
			}

			/*Chapters*/
			.accordian{
				width: 100%;
			}

			.card-header{
				background-color: #70ADB5;
			}
			.card-header h2 button:hover{
				color: white;
				text-decoration: none;
			}
			.card-header h2 button{
				color: black;
				font-weight: bold;
				font-family: 'Ubuntu';
				text-decoration: none;
			}
			.card-header h2 button:focus{
				text-decoration: none;
			}
			.address{
				background-color:rgb(151, 227, 237 );
				color: black;
			}
			h3{
				font-family: 'Montserrat', sans-serif;
				padding-left: 15px;
			}

			a:hover{
				color: red;
				text-decoration: none;
			}
			.card-body a{
				color: #70ADB5;
				font-weight: bold;
			}

			/*About Us*/
			#jumbo {
				padding-top: 0px;
				margin: 5px 20px;
				text-align: justify;	
			}

			.carousel-item img{
				width: 100%;
				height: 450px;
			}

			.carousel-item{
				padding-top: 10px;
				padding-bottom: 10px;
			}			
			/* Donation Page */
			.donate {
			border-style: solid;
			border-width: thin;
			margin: 0 30%;
			padding: 5% 0;
			}

			.donation_amount{
			margin: 4% 0;
			}

			.donation_submit{
			margin: 5% 0;
			}

			/* Thank you for Donating Page */

			#ThankYou {
			padding: 8% 0%;
			}

			/*forms*/
			.form-row{
				padding-bottom: 30px
			}
			.error{
	            color: red;
	        }

			/* Footer */
			#footer {
			  text-align: center;
			  padding: 7% 15% 3%;
			  background-color: #70adb5;
			}

			.foot {
			  margin: 1%;
			}

			.p-foot {
			  color: grey;
			}

			i{
				color: #212529;
			}
			
			#up-arrow {
			  	display: none;
			  	position: fixed;
			  	bottom: 20px;
			  	right: 30px;
			  	z-index: 99;
			}
			.dark-arrow{
				color: white;
			}
